@using Flight_kursach.Views.Manage
@{
    ViewData["Title"] = "Отключить двухфакторную аутентификацию (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Это действие отключает только 2FA.</strong>
    </p>
    <p>
        Отключение 2FA не изменяет ключи, используемые в приложениях для аутентификации. Если вы хотите сменить ключ
        используется в приложении для проверки подлинности, вы должны <a asp-action="ResetAuthenticatorWarning">сбросить свой
        ключи аутентификатора.
</a>
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Отключить двухфакторную аутентификацию</button>
    </form>
</div>
